<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>MyBooks</h1>
            <h3>A Book Keeping by Zach Smith</h3>
            <hr class="intro-divider">
            <h3>Sign in with:</h3>
            <ul class="list-inline intro-social-buttons">
              <li>
                <button href="#" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </button>
              </li>              
            </ul>
          </div>
        </div>
      </div>    
    </div>

  </main>


</body>

</html>