<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container">
    <h1> Book Keeper </h1>
    <div class="jumbotron">
      <form id="addBookForm">
        <div class="form-group">
          <label for="bookTitle">Title:</label>
          <input type="text" class="form-control" name="bookTitle" id="bookTitle" placeholder="Add Title..." required />
        </div>
        <div class="form-group">
          <label for="bookAuthor">Author:</label>
          <input type="text" class="form-control" name="bookAuthor" id="bookAuthor" placeholder="Add Author..."required />
        </div>
        <div class="form-group">
          <label for="bookRating">Rating:</label>
          <input type="text" class="form-control" name="bookRating" id="bookRating" placeholder="Add Rating..." required />
        </div>
        <div class="form-group">
          <div>
            <button type="button" class="btn btn-primary" id="addBookButton">Add</button>
          </div>
        </div>
      </form>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Book List</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group" id="bookList">
          <script id="template" type="x-tmpl-mustache">
            {{#books}}
              <li class="list-group-item">
                <h3 class="list-group-item-heading">Title: {{title}}</h3>
                <p class="list-group-item-text">Author: {{author}}</p>
                <p class="list-group-item-text">Rating: {{rating}}</p>
                <button class="btn btn-default btn-primary" onclick="bookLibrary.deleteBook()">Delete</button>
              </li>
            {{/books}}
          </script>
        </ul>
      </div>
    </div>
  </div>
  
</body>

</html>
