<div class="jumbotron text-center">
  <h1>My First MEAN Application</h1>
  <p>This is my first application using the MEAN stack.</p>
  <div>
    <a class="btn btn-primary" routerLink="/register">Register</a>
    <a class="btn btn-primary" routerLink="/login">Login</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Node and Express</h3>
    <p>This project implements a server using Node.JS and the Express.JS framework</p>
  </div>
  <div class="col-md-4">
    <h3>MongoDB and Mongoose</h3>
    <p>The server interfaces with a Mongodb database using Mongoose as a helper library.</p>
  </div>
    <div class="col-md-4">
    <h3>Angular 2</h3>
    <p>The client side is written using Angular 2 and the Angular CLI.</p>
  </div>
</div>